/* declaracão de variaveis */
:root {
    --base: #303446;
    --crust: #232634;
    --surface: #51576d;
    --text: #c6d0f5;
    --subtext: #b5bfe2;
    --blue: #8caaee;
    --teal: #81c8be;
    --peach: #ef9f76;
    --red: #e78284;
    --mauve: #ca9ee6;
}

body {
	background: var(--base);
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

/* conteiner é a div raiz da página */
.conteiner {
	width: 100vw;
	height: fit-content;
	min-height: 100vh;
}


/* section é uma caixa de maior prioridade para o conteúdo */
.section-base {
	width: 100vw;
	height: fit-content;
	min-height: 25vh;
	
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	background-color: var(--base);
}

.section-branca {
	width: 100vw;
	height: fit-content;
	min-height: 25vh;
	
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	background-color: var(--subtext);
}

/* box é uma caixa vísivel para o conteúdo */ 
.box {
	width: 25vw;
	height: fit-content;
}

.div-btn {
	width: 25vw;
	height: fit-content;
	min-height: 10vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--text);

	border-radius: 5vh;
	margin: 1vh;
	
	transition: ease-in-out .2s;
}

.div-btn:hover {
	scale: 1.1;
}

.div-btn-inv {
	width: 25vw;
	height: fit-content;
	min-height: 10vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--base);

	border-radius: 5vh;
	margin: 1vh;
	
	transition: ease-in-out .2s;
}

.div-btn-inv:hover {
	scale: 1.1;
}

.titulo-peach {
	font-size: 32pt;
	font-family: Arial, Helvetica, sans-serif;

	color: var(--peach);
}

.titulo-base {
	font-size: 32pt;
	font-family: Arial, Helvetica, sans-serif;

	color: var(--base);
}

.paragrafo-m {
	color: var(--text);
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
}

.paragrafo-m-inv {
	color: var(--base);
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
}
