/* declaracão de variaveis */
:root {
    --base: #303446;
    --crust: #232634;
    --surface: #51576d;
    --text: #c6d0f5;
    --subtext: #b5bfe2;
    --blue: #8caaee;
    --teal: #81c8be;
    --peach: #ef9f76;
    --red: #e78284;
    --mauve: #ca9ee6;
}

body {
	background: var(--base);
	margin: 0px;
	padding: 0px;
}

/* conteiner é a div raiz da página */
.conteiner {
	width: 100vw;
	height: fit-content;
	min-height: 100vh;
}


/* section é uma caixa invisível e de maior prioridade para o conteúdo */
.section {
	width: 100vw;
	height: fit-content;

}

/* box é uma caixa vísivel para o conteúdo */ 
.box {
	width: 25vw;
	height: fit-content;
}

