/* declaracão de variaveis */
:root {
	/* cores */
	--base: #303446;
	--crust: #232634;
	--surface: #51576d;
	--text: #c6d0f5;
	--subtext: #a5adce;
	--blue: #8caaee;
	--teal: #81c8be;
	--peach: #ef9f76;
	--red: #e78284;
	--mauve: #ca9ee6;

	/* espacamentos  */
	--largura-paragrafo: 50vw;
}

body {
	background: var(--base);
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

/* conteiner é a div raiz da página */
.conteiner {
	width: 100vw;
	height: fit-content;
	min-height: 100vh;
}


/* section é uma caixa de maior prioridade para o conteúdo */
.section-base {
	width: 100vw;
	height: fit-content;
	min-height: 25vh;
	
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	background-color: var(--base);
}

.section-surface {
	width: 100vw;
	height: fit-content;
	min-height: 25vh;
	
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	background-color: var(--surface);
}

.section-branca {
	width: 100vw;
	height: fit-content;
	min-height: 25vh;
	
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	background-color: var(--subtext);
}

/* botões */

.div-btn {
	width: 25vw;
	height: fit-content;
	min-height: 10vh;

.div-btn-redondo {
	height: fit-content
}

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--text);

	border-radius: 5vh;
	margin: 1vh;
	
	transition: ease-in-out .2s;
}

.div-btn:hover {
	scale: 1.1;
}

.div-btn-inv {
	width: 25vw;
	height: fit-content;
	min-height: 10vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--base);

	border-radius: 5vh;
	margin: 1vh;
	
	transition: ease-in-out .2s;
}

.div-btn-inv:hover {
	scale: 1.1;
}

.texto-btn {
	color: var(--text);
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
}

.texto-btn-inv {
	color: var(--base);
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
}

.btn-texto-puro {
	color: var(--text);
	text-decoration: none;
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;

	min-width: 15vw;
	width: fit-content;

	margin-top: 2.5vh;

	transition: ease-in-out .1s;
}

.btn-texto-puro:hover {
	scale: 1.075;
}

/* titulos */

.titulo-principal {
	font-size: 48pt;
	font-family: Arial, Helvetica, sans-serif;
	width: 25vw;
	text-align: center;
	
	color: var(--mauve);

	margin-top: 25vh;
	margin-bottom: 1vh;
}

.titulo-peach {
	font-size: 32pt;
	font-family: Arial, Helvetica, sans-serif;

	color: var(--peach);
}

.titulo-mauve {
	font-size: 32pt;
	font-family: Arial, Helvetica, sans-serif;

	color: var(--mauve);
}

.titulo-branco {
	font-size: 32pt;
	font-family: Arial, Helvetica, sans-serif;

	color: var(--text);
}

.titulo-base {
	font-size: 32pt;
	font-family: Arial, Helvetica, sans-serif;

	color: var(--base);
}


/* paragrafos */

.subtitulo-principal {
	color: var(--subtext);
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	width: 40vw;

	margin-bottom: 40vh;
}

.paragrafo-m {
	color: var(--text);
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	width: var(--largura-paragrafo);

	margin-bottom: 10vh;
}

.paragrafo-m-inv {
	color: var(--base);
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	width: var(--largura-paragrafo)
}

/* MENUS */

.menu-topo {
	width: 75vw;
	height: 10vh;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

